### **Handling Imbalance Dataset**
- 1. Up Sampling
- 2. Down Sampling

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import sys
%matplotlib inline

In [2]:
# Set the random seed for reproducibility
np.random.seed(123)

# Create a data frame with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [4]:
# Create DataFrame
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=1, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=1, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

In [5]:
class_0.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [6]:
class_1.head()

   feature_1  feature_2  target
0   0.699768   1.139033       1
1   0.367739   1.025577       1
2   0.795683   0.803557       1
3   1.213696   2.312255       1
4   2.033878   2.187417       1

In [7]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [9]:
df.tail()

     feature_1  feature_2  target
995   0.376371   1.845701       1
996   1.239810  -0.119923       1
997   0.131760   0.640703       1
998   1.902006  -0.609695       1
999   1.697490   1.013570       1

In [10]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## **1. Up Sampling**

In [11]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [12]:
from sklearn.utils import resample
df_minority_unsampled = resample(df_minority, replace=True, # Sample with replacement
         n_samples=len(df_majority), # to match majority class  
          random_state=42)

In [13]:
df_minority_unsampled.shape

(900, 3)

In [14]:
df_minority.shape

(100, 3)

In [15]:
df_minority_unsampled.head()

     feature_1  feature_2  target
951   0.125854   0.843917       1
992   1.196570   0.397425       1
914   0.932170   1.998053       1
971   1.272825   2.034197       1
960   1.870056   0.550485       1

In [16]:
df_upsampled = pd.concat([df_majority, df_minority_unsampled])

df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [17]:
df_upsampled.shape

(1800, 3)

# **2. Down Sampling**

In [18]:
# Set the random seed for reproducibility
np.random.seed(123)

# Create a data frame with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

# Create DataFrame
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=1, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=1, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [19]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   0.376371   1.845701       1
996   1.239810  -0.119923       1
997   0.131760   0.640703       1
998   1.902006  -0.609695       1
999   1.697490   1.013570       1

[1000 rows x 3 columns]

In [20]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [21]:
from sklearn.utils import resample
df_majority_unsampled = resample(df_majority, replace=False, # Sample with replacement
         n_samples=len(df_minority), # to match majority class  
          random_state=42)

In [22]:
df_downsampled = pd.concat([df_majority_unsampled, df_minority])

In [23]:
df_downsampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64

In [24]:
print("The End")

The End